/* grid c1 */
.category{
  margin-bottom: 10px;
}

.categories{
  color: blueviolet;
}

.item{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.bar{
  width: 2px;
  height: 48px;
  background-color: blueviolet;
}

.progress{
  width: 55px;
  margin-left: 10px;
}

.pix{
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .grid-c1 {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}